{% extends 'student/studentbase.html' %}
{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


</head>
<br><br>
<div class="container my-4">
    <div class="jumbotron">

	      <h3 class="text-info text-center">Правила</h3>

        <div class="row">

            <div class="card border-info mx-4 my-4">
                <div class="card-body text-info">

                    <h4 class="card-title">Детали :</h4>
                    <p class="card-text">
                        </p><ul style="list-style:decimal;">
                            <li>Название экзамена : {{course.course_name}}</li>
                            <li>Общее количество вопросов : {{total_questions}}</li>
                            <li>Общее количество оценок : {{total_marks}}</li>
                        </ul>
                    <p></p>



                    <h4 class="card-title">Правила :</h4>
                    <p class="card-text">
                        </p><ul style="list-style:decimal;">
                            <li>Несколько вариантов ответа.</li>
                            <li><span class="text-danger">Только один правильный ответ.</span></li>
                            <li>Каждый вопрос оценивается по разному 
                            </li>
                
                            <li>Попруйте отвечать быстро.</li>
                            <li>Если вы обновите страницу то вы получите новый вопрос.</li>
                            <li>Вопросы отображаются рандомно для каждого сотрудника.</li>
                            <li>Вы получите оценку сразу.</li>
                        </ul>
                    <p></p>
                    <a href="{% url 'start-exam' course.id  %}" class="btn btn-info">Начать</a>
                </div>  
                <div class="card-footer">Удачи</div>  
            </div>  
        </div>  

    </div>
</div>

<br><br><br><br><br><br>
{% endblock content %}